<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./accuWeatherCard.css">
    <title>Document</title>
  </head>
  <body>
    <div class="current-weather-card card-module content-module non-ad">
      <div class="card-header spaced-content">
        <h1>Current Weather</h1>
        <p class="sub">4:00 PM</p>
      </div>

      <div class="card-content">
        <div class="current-weather">
          <div class="current-weather-info">
            <img class="icon" src="/images/weathericons/06.svg" width="62" height="62" />
            <div class="temp">
              <div class="display-temp">10°<span class="sub">C</span></div>
            </div>
          </div>
          <div class="phrase">Mostly cloudy</div>
        </div>
        <div class="current-weather-extra">
          <div>
            RealFeel® 9°

            <div class="label-tooltip" data-js="prevent-accordion-toggle">
              <div class="label clickable">Chilly</div>
              <div class="label-tooltip-overlay">
                <div class="label-tooltip-header spaced-content">
                  <span>RealFeel Guide</span>
                  <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 18 18">
                    <g fill-rule="evenodd" transform="translate(-1 -1)">
                      <rect width="2" height="24" x="9" y="-2" rx="1" transform="rotate(45 10 10)"></rect>
                      <rect width="2" height="24" x="9" y="-2" rx="1" transform="rotate(-45 10 10)"></rect>
                    </g>
                  </svg>
                </div>
                <div class="label-tooltip-content">
                  <div class="label-tooltip-content__subtitle spaced-content">
                    <div>Chilly</div>
                    <div class="label-tooltip-content__reference">4° to 10°</div>
                  </div>
                  <div class="label-tooltip-content__content">Jacket or sweater is recommended.</div>
                </div>
                <a class="label-tooltip-cta" href="/en/tr/istanbul/current-weather-maps-realfeel"
                  >LEARN MORE <img class="icon-arrow" data-src="/images/icons/arrow-right-black.svg" width="12" height="12" alt="arrow icon" style="overflow: hidden"
                /></a>
              </div>
            </div>
          </div>
          <div class="realfeel-shade-details">
            RealFeel Shade™ 8°

            <div class="label-tooltip" data-js="prevent-accordion-toggle">
              <div class="label clickable">Chilly</div>
              <div class="label-tooltip-overlay">
                <div class="label-tooltip-header spaced-content">
                  <span>RealFeel Guide</span>
                  <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 18 18">
                    <g fill-rule="evenodd" transform="translate(-1 -1)">
                      <rect width="2" height="24" x="9" y="-2" rx="1" transform="rotate(45 10 10)"></rect>
                      <rect width="2" height="24" x="9" y="-2" rx="1" transform="rotate(-45 10 10)"></rect>
                    </g>
                  </svg>
                </div>
                <div class="label-tooltip-content">
                  <div class="label-tooltip-content__subtitle spaced-content">
                    <div>Chilly</div>
                    <div class="label-tooltip-content__reference">4° to 10°</div>
                  </div>
                  <div class="label-tooltip-content__content">Jacket or sweater is recommended.</div>
                </div>
                <a class="label-tooltip-cta" href="/en/tr/istanbul/current-weather-maps-realfeel"
                  >LEARN MORE <img class="icon-arrow" data-src="/images/icons/arrow-right-black.svg" width="12" height="12" alt="arrow icon" style="overflow: hidden"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="current-weather-details">
        <div class="left">
          <div class="detail-item spaced-content">
            <div>Max UV Index</div>
            <div>2 Low</div>
          </div>
          <div class="detail-item spaced-content">
            <div>Wind</div>
            <div>SW 15 km/h</div>
          </div>
          <div class="detail-item spaced-content">
            <div>Wind Gusts</div>
            <div>21 km/h</div>
          </div>
          <div class="detail-item spaced-content">
            <div>Humidity</div>
            <div>62%</div>
          </div>
          <div class="detail-item spaced-content">
            <div>Indoor Humidity</div>
            <div>33% (Slightly Dry)</div>
          </div>
        </div>
        <div class="right">
          <div class="detail-item spaced-content">
            <div>Dew Point</div>
            <div>3° C</div>
          </div>
          <div class="detail-item spaced-content">
            <div>Pressure</div>
            <div>↓ 1017 mb</div>
          </div>
          <div class="detail-item spaced-content">
            <div>Cloud Cover</div>
            <div>76%</div>
          </div>
          <div class="detail-item spaced-content">
            <div>Visibility</div>
            <div>24 km</div>
          </div>
          <div class="detail-item spaced-content">
            <div>Cloud Ceiling</div>
            <div>12200 m</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
