@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 3rem 1.5rem;
  width: 20vw;
  height: 350px;
  min-width: 15rem;
  box-shadow: 5px 5px 4px 0px gray;
  background-color: aliceblue;
  padding: 30px;
  z-index: 0;
  border-top: 3px solid orange;
  margin-top: 1rem;
}

@media screen and (max-width: 850px) {
  .card-container {
    width: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .card-container {
    width: 80vw;
  }
}

.card-container h1 {
  margin: 1rem;
}
.card-container h2,
.card-container h3,
.card-container h4 {
  margin: 0.25rem;
}

.card-container img {
  width: 100px;
  border-radius: 50%;
}

.card-svg {
  margin: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.card-svg svg {
  width: 25px;
  height: 25px;
}

.card-svg:hover {
  cursor: pointer;
}

.card-svg svg:hover {
  fill: chartreuse;
}

.card-spinner {
  width: 2rem;
  margin: 0.75rem 5.625rem;
  animation-name:rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate{
  100%{
    transform:rotate(360deg);
  }
}