.speed-card {
  width: 400px;
  min-width: 370px;
  height: 50px;
  position: absolute;
  top: 64px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3ms ease-in;
  background-color: var(--color-black);
  z-index: 20;
  border: 1px solid #fff;
  border-top: none;
}

.buttons-container button {
  margin-right: 0.3rem;
  font-size: 1.5rem;
}

.speed-text {
  margin: 0 1rem;
}

.button-close {
  width: 30px;
}

.buttons-container-reset button {
  margin-right: 0.3rem;
  font-size: 1rem;
}

.buttons-container-reset .button-close {
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  .speed-card {
    width: 100%;
    left: 0;
    top: 113px;
  }
}
